.flex-box {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.full-height {
    height: 100%;
    max-height: 100%;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.delete-button {
    margin: 3px;
    text-shadow: -1px 0 white, 1px 0 white, 0 -1px white, 0 1px white;
}

.delete-button-white {
    font-size: 2em !important;
    color: white;
    margin:3px;
}

.delete-button:hover {
    color: white;
    cursor: pointer;
}

.delete-button-white:hover {
    color: rgb(196, 245, 142);
    cursor: pointer;
}

.margin-top-5 {
    margin-top: 5px !important;
}

#selectedImage {

}

#selectedImage:hover {
    cursor: crosshair;
}

#select-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px 20px 3px;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    margin: 0;
}

#select-bar > li {
    min-width: 40px;
    min-height: 40px;
    margin-left: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    cursor: pointer;
}

.select-bar-item-selected {
    box-shadow: inset 0 0 0 2px rgba(250, 250, 250, 0.75), 0px 0px 0px 2px #F08F10;
    opacity: 1 !important;
}

.color-panel-button {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    margin: 2px;
}

.color-panel-button:hover {
    background-color: grey !important;
    cursor: pointer;
}

.black-white-border {
    border: 2px dashed black;
    outline: 2px dashed white;
}

.tag-title {
    position: absolute;
    top: -50px;
    left: 0;
    text-shadow: -1px 0 white, 1px 0 white, 0 -1px white, 0 1px white;
}

.taged-image {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: -9px;
    right: -9px;
    color: #ff7800;
    font-size: 1.3em !important;
}

.add-task-button {
    font-size: 2.3em !important;
}

.add-task-button:hover {
    cursor: pointer;
    color: orange !important;
}

.et-silence-button {
    color: gray;
    cursor: context-menu;
}

.table-item-button {
    color: black;
}

.table-item-button:hover {
    cursor: pointer;
    color: orange !important;
}

.popup {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.et-margin-top-32 {
    margin-top: 32px !important;
}

.et-margin-top-64 {
    margin-top: 64px !important;
}

.et-hoverable:hover {
    cursor: pointer;
    color: #4CAF50!important;
}

.et-background-white {
    background: #f9f9f9;
}

.et-register-button {
    color: #108ee9;
}

.et-register-button:hover {
    color: black;
    cursor: pointer;
}

.et-refresh-button {
    position: fixed;
    bottom: 20px;
    right: 32px;
    color: orange;
    font-size: 2.8em !important;
}

.et-refresh-button:hover {
    cursor: pointer;
    color: #f8ba5a !important;
}

.et-table-title:hover {
    cursor: context-menu;
}

.et-content {
    max-width: 1280px;
    margin: 0 auto;
}

.et-taskname-button:hover {
    cursor: pointer;
    color: orange;
}

.et-padding-128 {
    padding-top: 64px !important;
    padding-bottom: 128px !important;
}
